img {
    width: 100%;
}

body {
    background-color: #ffffff;
}



/* ---------- Spaghetti-menu ---------------- */


header {
    z-index: 11;
    position: relative;
}


.hidden {
    display: none;
}

nav {
    justify-content: space-between;
    display: flex;
    background-color: rgb(140, 199, 145);
    min-height: 2vw;
    width: 100%;
    height: 60px;
    position: sticky;
    Top: 0;
}


/* Menu Mobil */

#menuMobil a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 6vw;
    margin-bottom: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menuMobil a:hover {
    color: beige;
}

#menuknapMobil {
    z-index: 10;
    width: 10vw;
    margin-right: 5vw;
    margin-top: 1rem;

}

#menuMobil {
    width: 100%;
    top: 6.7vh;
    position: absolute;
    z-index: 6;
    font-size: 1.5rem;
    background-color: rgb(140, 199, 145);
    transition: .4s;
    text-align: center;
    padding-bottom: 29rem;
    transition: transform 2s ease-in;
}


#menuMobil img {
    margin: 100px
}

/*MENUDESKTOP*/

#menuDesktop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    Top: 0;

}

.navigation {
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-top: 18px;
}


#menuDesktop a {
    text-decoration: inherit;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;


}

#menuDesktop a:hover {
    color: beige;

}

#menuDesktop h4:hover {
    color: beige;
}



.logo h4 {
    font-size: 1rem;
    color: white;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    margin-right: 7vw;
}



#menuMobil img {
    margin-left: 90px;
    margin-top: 1vw;
}



@media only screen and (max-width: 768px) {


    .navigation {
        display: none;
    }


    .logo h4 {
        font-size: 1rem;
        color: white;
        margin-top: 0.5vw;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 7px;
        margin-left: 4vw;

    }


    #menuknapMobil {
        z-index: 10;
        width: 40px;
        min-height: 4vw;
        margin-top: 1vw;
        margin-right: 4vw;
        margin-bottom: 2vw;
        position: absolute;
        right: 0px;
        top: 6px;

    }


    #menuDesktop {
        width: 100%;
        padding-right: 14rem;
        min-height: 2vw;
        display: flex;
        justify-content: space-around;

    }

}


@media only screen and (min-width: 768px) {

    #menuMobil {
        display: none;

    }

    #menuknapMobil {
        display: none;

    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;

    }

    #menu li {
        display: inline-block;

    }


}



/* --------------- SPLASH ------------------*/

#splash {
    background-image: url(pictures/homemade-spaghetti-sauce-horizontal-1530890913.png);
    height: 50vw;
    width: 99vw;
    background-size: cover;
}


@media only screen and (max-width: 375px) {
    #splash {

        width: 375px;
        height: 700px;
        background-position: -320px 0px;

    }
}

@media only screen and (max-width: 500px) {
    #splash {

        width: 500px;
        height: 700px;
        background-position: -320px 0px;

    }
}




/* -------------- Portfolio -------------- */

#portfolio {
    max-width: 1200px;
    margin: 0 auto;
}


#portfolio .txt {
    align-content: center;
    display: flex;
    color: #fff;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#portfolio h3 {
    font-size: 3.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}



#portfolio .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}


#portfolio .column {
    flex-grow: 1;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    margin-top: 2.3vw;
    text-align: center;

}

#portfolio .felt1 {
    background-image: url(pictures/ikoner/web.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#portfolio .overlay1 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay1:hover {
    background-color: rgba(0, 0, 0, 0);
}




#portfolio .felt2 {
    background-image: url(pictures/ikoner/animation.png);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#portfolio .overlay2 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay2:hover {
    background-color: rgb(0, 0, 0, 0);
    filter: blur(50px)
}




#portfolio .felt3 {
    background-image: url(pictures/ikoner/indhold.png);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#portfolio .overlay3 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay3:hover {
    background-color: rgba(0, 0, 0, 0);
}




#portfolio .felt4 {
    background-image: url(pictures/ikoner/ux.png);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#portfolio .overlay4 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay4:hover {
    background-color: rgba(0, 0, 0, 0);
}




#portfolio .felt5 {
    background-image: url(pictures/ikoner/music.png);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



#portfolio .overlay5 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay5:hover {
    background-color: rgba(0, 0, 0, 0);
}



#portfolio .felt6 {
    background-image: url(pictures/ikoner/otherprojects.png);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#portfolio .overlay6 {
    position: absolute;
    background-color: rgba(185, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}



#portfolio .overlay6:hover {
    background-color: rgba(0, 0, 0, 0);
}


/* ------------- About ----------------*/

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;

}

#about .column_left {
    flex-grow: 1;
    flex-basis: 300px;
    margin-top: 2vw;


}

#about .column_right {
    flex-grow: 1;
    flex-basis: 300px;
    height: 30vw;
    width: 10vw;
    margin-top: 2vw;
    margin: 15px;
}

#about h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
}

#about p {
    font-family: 'Roboto', sans-serif;
    line-height: 29px;
}



/* ------ Grøn DR-agtig box -----------*/

#box {
    position: relative;
    background: rgb(140, 199, 145);
}

#box.lille {
    overflow: hidden;
    max-height: 150px;
    transition: max-height 0.5s ease-out;

}

#box.stor {
    max-height: 3000px;
    transition: max-height 1s ease-in;

}

/*Laver indhold vha css*/
#box.lille span:after {
    content: "+";


}

#box.stor span:after {
    content: "-";
}

#mere .plus {
    /* for at få den nærmere på bunde */
    margin-top: 40px;


    /* forat undgå at den opfører sit som et blockelement, og fylder hele bredden */
    /* Derved sikrer at jeg kan bruge parent text-align:center */
    display: inline-block;

    /* selve plussets farve og størrelse samt baggrund */
    color: red;
    font-weight: 800;
    width: 20px;
    height: 20px;
    background: white;
}

.green_overlay {
    /* for at få gradientbaggrunden til at fylde */
    height: 60px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;




    /* for at placere gradientbaggrunden i bunden */
    position: absolute;
    bottom: 0;
    left: 0;
    /* for at sikre at den fylder hele sin parent ud i bredden */
    background: linear-gradient(rgba(255, 210, 0, 0), rgb(81, 149, 92));

    /* for at placere plusset i midten */
    text-align: center;
}



/* --------------- Undersiderne --------------------*/



/* #web gælder for alle undersiders styling*/


#web {
    max-width: 1200px;
    margin: 0 auto;


}

#web .column_1 {
    display: flex;
    flex-wrap: wrap;

}

#web .column_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#web .column_3 {
    display: flex;
    flex-wrap: wrap;
}

#web .txt {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 15px;

}

#web a {
    text-decoration: none;
    text-align: center;

}

#web .pic {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 15px;

}


#web .zoom_in:hover {
    animation-name: zoom_in_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;



}


@keyframes zoom_in_kf {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05)
    }

}






#web p {
    font-family: 'Roboto', sans-serif;
}


#web h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
}

#web .generelt {
    margin: 15px;
}

#box p {
    color: white;
    margin: 7px;
}

#box h2 {
    color: white;
    margin: 7px;

}

#web h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
}

#web h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
}

#web a {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #db8a8a;
}

@media only screen and (max-width: 500px) {
    .vid {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
}



/* ----------- FOOTER -------------*/

footer {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
